services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_DATABASE: alquila_db
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_USER: user_app
      MYSQL_PASSWORD: user_password
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  app:
    build: .
    container_name: spring_app
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3307/alquila_db?allowPublicKeyRetrieval=true&useSSL=false
      - SPRING_DATASOURCE_USERNAME=user_app
      - SPRING_DATASOURCE_PASSWORD=user_password
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update